.like {
  height: 100px;
  width: 80%;
  margin: 0 auto;

  &__button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    @include gradient-background-reverse;
    display: inline-block;

    &--inside {
      transform: translateY(15px);
      width: 70px;
      height: 70px;
      border: 1px solid #ccc;
      border-radius: 40px;
      @include gradient-background;
      z-index: 200;
    }

    &--info {
      position: absolute;
      transform: scale(0.65) translateX(92px);

      & .link i {
        color: blue !important;
      }
    }

    &--dislike {
      margin-right: 10px;

      i {
        color: red !important;
      }
    }

    &--like {
      margin-left: 10px;

      i {
        color: green !important;
      }
    }

    i {
      font-size: 4rem !important;
      font-weight: bold;
      color: inherit;
    }
  }
}
