.photos {
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  position: relative;
  height: 380px;

  .photo {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);

    &__image {
      position: relative;

      &-container {
        background-color: black;
        img {
          display: block;
          height: 300px;
        }
      }
    }

    &__overlay {
      color: white;
      font-size: 1.6em;
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      height: 40px;
      line-height: 40px;
      transform: translateY(-40px);
    }

    &__name {
      padding-left: 15px;
      text-align: left;
    }

    &__pictures {
      padding-right: 15px;
      text-align: right;
    }

    &__button {
      line-height: 7rem !important;
      font-size: 4rem !important;
      text-align: left;
      padding-left: 10px;
      background-color: #eaeaea;
      @include gradient-background;
      margin: 6px;
      border: 1px solid $color-grey-light-3;
      border-bottom: 1px solid $color-grey-dark-1;
      border-right: 1px solid $color-grey-dark-1;
      border-radius: 4px;

      & i {
        color: rgb(185, 185, 185);
      }

      & span {
        padding-right: 15px;
        font-size: 5rem;
        font-weight: bold;
        float: right;
      }

      &.no-left-margin {
        margin-left: 0;
      }
    }

    &.tilt-1 {
      transform: rotate(2deg);

      .photo__image {
        opacity: 0;
      }
    }

    &.tilt-2 {
      transform: rotate(1deg);

      .photo__image {
        opacity: 0;
      }
    }

    &.tilt-3 {
      transform: rotate(-2deg);

      .photo__image {
        opacity: 0;
      }
    }
  }
}
