.navigation {
  height: 50px;
  width: 100%;
  @include gradient-background;
  border-bottom: 1px solid $color-grey-light-3;
  &__logo img {
    margin-top: 7px;
    height: 35px;
  }
  &__button {
    @include gradient-background;
    text-align: center;
    height: 40px;
    width: 50px;
    line-height: 40px;
    border: 1px solid $color-grey-light-3;
    border-top: 1px solid $color-grey-dark-1;
    border-radius: 3px;
    top: 5px;
    position: absolute;

    i {
      color: $color-grey-light-3 !important;
      font-size: 1.6em !important;
    }

    &--left {
      left: 5px;
    }
    &--right {
      right: 7px;
    }
  }
}
